<div class="container mt-3 mb-3 px-0 border border-dark rounded">

    <div class="d-flex flex-row justify-content-center align-items-center py-1 px-3 rounded-top usuario-tabela-titulo">
        <span><b>Minha conta</b></span>
    </div>

    <div class="container d-flex flex-column justify-content-center mt-3 mb-3 text-center">
        <h3 style="color: red">Em desenvolvimento</h3>
        <span style="color: blue">Link para alteração de senha</span>
        <span style="color: blue">Link para editar informações e visibilidade das informações do perfil</span>
    </div>
</div>
