<nav class="container navbar navbar-expand-md rounded mt-3 usuario-navbar">

    <button class="navbar-toggler usuario-navbar-toggler usuario-navbar-hamburger" type="button" data-bs-toggle="collapse" data-bs-target="#hamburger">
        <i class='bx bx-menu bx-md' style="padding: 0;"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="hamburger">

        <ul class="navbar-nav rounded-top usuario-navbar-ul">

            <li class="nav-item">
                <a href="/usuario/minha-conta" class="nav-link rounded">Minha conta</a>
            </li>

            <li class="nav-item">
                <a href="/usuario/listar-usuarios" class="nav-link rounded">Usuários</a>
            </li>

        </ul>

        <ul class="navbar-nav rounded-bottom usuario-navbar-ul">
           <li class="nav-item">
                <a href="/usuario/logout" class="nav-link rounded usuario-link-logout">Sair</a>
            </li>
        </ul>

    </div>

</nav>