
{{#if msgSucesso}}
    <div class="login-msgFlash mb-3 py-1 rounded text-center" style="background-color: rgb(0,255,0); color: black; padding: 0px;">
        <span>{{msgSucesso}}</span>
    </div>
{{/if}}


{{#if msgErro}}
    <div class="login-msgFlash mb-3 py-1 rounded text-center" style="background-color: rgb(255,0,0); color: black; padding: 0px;">
        <span>{{msgErro}}</span>
    </div>
{{/if}}