<div class="login-container">

    <div class="login-div-titulo">
        <span>Login</span>
    </div>

    <form method="POST" action="/login" id="formLogin" autocomplete="off" class="login-form">

        <div class="login-div-campo">
            <label for="nomeUsuario"><b>Nome do usuário</b></label>
            <input type="text" name="nomeUsuario" id="input-nomeUsuario" class="login-input" autofocus autocomplete="off">
        </div>

        <div class="login-div-campo">
            <label for="senha"><b>Senha</b></label>
            <input type="text" name="senha" id="input-senha" class="login-input" autocomplete="off">
        </div>
        
        <div class="login-div-botoes">
            <input type="submit" id="input-submit" class="login-botao" value="Entrar" >
        </div>
        
        <div class="login-div-links">
            <a href="">Esqueceu sua senha?</a>
            <a href="">Criar conta</a>
        </div>
    
    </form>



</div>